@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.up-div {
  background-color: black;
}
.up-div p {
  color: white;
  padding: 15px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
header {
  margin: 0;
}
header .row .col-6 .block-1 {
  background-image: url(./images/header-1.png);
  background-repeat: no-repeat;
  height: 800px;
  flex-wrap: wrap;
}
header .row .col-6 .block-2 {
  display: flex;
  height: 800px;
  background-color: #996b60;
}
header .row .col-6 .block-2 .box-1 {
  display: flex;
  color: white;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 100px;
  margin-left: 60px;
}
header .row .col-6 .block-2 .box-1 h1 {
  font-size: 73px;
  font-weight: 400;
  width: 457px;
}
header .row .col-6 .block-2 .box-1 p {
  width: 510px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header .row .col-6 .block-2 .box-1 button {
  width: 180px;
  height: 52px;
  background-color: #996b60;
  border-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.topbar {
  display: flex;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  justify-content: space-between;
}
.topbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.topbar ul li a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12px;
  padding: 20px 30px;
}
main {
  margin: 40px;
  max-width: 1320px;
}
.container .content {
  margin: 0 auto;
  display: flex;
  text-align: center;
  height: 730px;
  border-bottom: 1px solid #bdbdbd;
}
.content .box-2 {
  max-width: 297px;
}
main .content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #bdbdbd;;
}
main .content .box-1 {
  width: 288px;
  justify-content: space-between;
}
main .content .box-1 p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}
.content .box-1 img {
  justify-content: center;
  align-items: center;  
  text-align: center;
}
.box-3 {
  width: 673px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
.box-3 h1 {
  font-size: 64px;
  font-weight: 400;
  text-align: center;
}
.box-3 span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.container .content {
  margin: 0;
  display: flex;
  border-bottom: 1px solid #bdbdbd;
  justify-content: space-around;
}
.container .content .box-1 {
  width: 367px;
  height: 181px;
  margin: 0 auto;
  text-align: center;
}
.container .content .box-1 img {
  justify-content: space-around;
  text-align: center;
}
.container .content .box-1 h1 {
  font-size: 30px;
  font-weight: 400;
}
.container .content .box-1 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
.container .content .box-1 button {
  padding: 15px 30px;
  font-size: 10px;
  color: white;
  border-radius: 0;
  background-color: black;
}
.block {
  max-width: 1320px;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 40px;
  margin-bottom: 30px;
}
.block .bokal {
  background-image: url(./images/bokal.png);
  width: 100%;
  height: 560px;
}
.block .box-1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.block .box-1 p {
  margin-top: 35px;
  width: 480px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.block .box-1 h1 {
  font-size: 53px;
  font-weight: 400;
}
.row { /* строка */
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex: 8.3% 1 1;
}
.col-2 {
  flex: 16.6% 1 1;
}
.col-3 {
  flex: 25% 1 1;
}
.col-4 {
  flex: 33.3% 1 1;
}
.col-5 {
  flex: 41.6% 1 1;
}
.col-6 {
  flex: 50% 1 1;
}
.col-7 {
  flex: 58.3% 1 1;
}
.col-8 {
  flex: 66.6% 1 1;
}
.col-9 {
  flex: 75% 1 1;
}
.col-10 {
  flex: 83% 1 1;
}
.col-11 {
  flex: 91.6% 1 1;
}
.col-12 {
  flex: 100% 1 1;
}
.card {
  display: flex;
}
.card img {
  width: 800px;
  height: 560px;
  object-fit: scale;
}
.image-screen {
  width: 375px;
  margin-top: 86px;
}
.image-screen p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}
.image-screen h1 {
  font-size: 33px;
  font-weight: 400;
  font-family: LiberationSerifBold;
}
.sidebar {
  height: 300px;
  margin-left: 0;
  background-color: black;
  color: white;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-align: center;
}
.sidebar .box-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 90px;
}
.sidebar .box-1 h1 {
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 350;
}
.sidebar .box-1 p {
  text-align: center;
  font-size: 14px;
}
.sidebar .box-1 span {
  font-size: 16px;
  color: #8a8a8a;
}
.product {
  display: flex;
  margin: 40px;
}
.product .box-1 img {
  width: 480px;
  height: 400px;
  margin-right: 80px;
}
.product .box-2 h1 {
  width: 628px;
  font-size: 54px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 177px;
}
.product p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 620px;
  font-size: 17px;
  font-weight: 400;
}
.product span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.boxes-1 {
  display: flex;
  background-image: url(./images/mood.png);
  width: 100%;
  height: 558px;
}
.boxes-1 .content {
  display: block;
  max-width: 550px;
  color: white; 
  margin: 50px 0 40px 40px;
  border: 0;
}
.boxes-1 .content .box-1 {
  background-color: black;
  width: 550px;
  height: 303px;
  margin-bottom: 20px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;   
  flex-direction: column;
  align-content: center;

}
.boxes-1 .content .box-2 {
  max-width: 550px;
  height: 125px; 
  background-color  : #000000;
  border-radius: 0px; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  
}
.boxes-1 .content .box-2 ul span a {
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-size: 12px;
}
.boxes-1 h1 {
  font-weight: 400;
  font-size: 55px;
  margin: 0;
  text-align: center;
}
.boxes-1 p {
  font-family:  Roboto;
  font-weight: 400;
  font-size: 16px;
  width: 412px;
  margin: 0;
  text-align: center;
}
.boxes-1 .box-2 p {
  text-align: center;
}
.boxes-1 button {
  padding: 16.39px 59.57px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 0;
}   
.boxes-1 ul {
  display: flex;
  justify-content: space-around;
}
footer {
  background-color: black;
  width: 100%;
  height: 617px;
}
footer .content {
  border: 0;
}
footer .block-1 {
  color: white;
  max-width: 463px;
  text-align: left;
}
footer .block-1 h1 {
  font-weight: 400;
  font-size: 42px;
}
footer .block-1 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 19.5px;
  font-weight: 400;
}
footer .block-1 .box-1 {
  border-bottom: 1px solid #e0d6d6;
}
footer .block-2 nav {
  display: flex;
  right: 0;
}
footer .block-2 nav ul {
  text-transform: uppercase;
  list-style-type: none;
  text-align: left;
}
footer .block-2 nav ul li {
  padding: 15px 25px;
}
footer .block-2 nav ul li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.content .block-1 .box-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}